* {
	font-family: 'Playfair', serif;
	margin: 0;
	padding: 0;
}

html, body {
  scroll-behavior: smooth;
}

body {
	background: url(../images/fundodecorais.jpg) 50% 50% / cover no-repeat fixed;
}

ul {
	margin: 5px;
	padding: 5px 5px 5px 30px;
}

p, h2 {
	padding: 5px;
	margin: 5px;
}

h2 {
	font-size: 30px;
}

p, li {
	font-size: 20px;
	text-indent: 5px;
	}

main section {
	margin: 20px 0;
}

.central {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.TlB {
	width: 1100px;
	background-color: #4BC3F2;
	box-shadow: 0 -2px 20px #000;
	border: medium dashed #034C8C;
	padding: 3px;
	margin: 10px;
}

.EstR {
	text-decoration: none;
	text-shadow: 0 -1px #000, 1px 0 #000, 0 1px #000, -1px 0 #000;
	font-size: 18px;
	color: #99F2F2;
}

div#ind {
	width: 300px;
}


/* v bloco das IMAGENS v */
#img-princ, #tst{
	display: flex;
	margin: 20px auto 20px auto;
	border: 5px solid #034C8C;
	}

#img-princ{
	width:700px;
	height:500px;
	margin: 20px auto 30px auto;
	}

#tst {
	width: auto;
	height: 300px;
}
/* ^ bloco das IMAGENS ^ */

#links-final-page h3 {font-size: 50px; margin: 40px 0; padding: 5px;}
#grade a {text-decoration: none;}

.blocos {display: grid; justify-items: center; margin: 0 60px;}
.blocos a img {border: 5px solid #034C8C; width: 200px; height: auto; margin: 5px;}
.blocos a p {text-align: center; padding: 1px; margin: 5px;}
.blocos a p:hover {transition: color 0.2s; color: red;}

h1#TT {
	color: #0F50A6;
	font-weight: bold;
	font-size: 70px;
	margin: 5px 5px 10px 5px;
	padding: 5px;
	width: 370px;
	text-align: center;
	text-shadow: -3px 2px #000;
}

a.EstR:hover { transition: color 0.2s; color: red;}

#fin {
	border: medium dashed #034C8C;
	margin: 30px auto 10px 50px;
	width: 200px;
	float: left;
}